* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #989898;
}

header {
    background-color: black;
    padding: 20px;
}

h1.port {
    color: white;
    font-size: 50px;
    text-align: start;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 20px 80px;
    height: auto;
    color: #EEEEEE;
    justify-content: space-between;
    
}

.button_menu {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 22px;
}

.button_menu:hover {
    transform: scale(1.10);
    color: #76FF76;
}

.navegacao {
    background-color: #DCDCDC;
    text-align: center;
    font-size: 12px;
}

main {
    text-align: center;
}

.inicio {
    display: flex;
    flex-direction: column; /* Itens ficam em coluna (um abaixo do outro) */
    align-items: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre o nome e a imagem */
    justify-content: center; /* Alinha os itens verticalmente no centro */
    padding: 50px 0; /* Ajusta o padding para dar espaçamento ao redor */
}

img {
    width: 20rem; /* Defina um tamanho fixo para a imagem */
    height: 30rem; /* Defina um tamanho fixo para a imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
}

.nome {
    font-size: 50px;
    font-weight: bold; /* Destaca o nome */
    color: #333; /* Cor do nome */
}

    .imagem-perfil {
        width: 100%; /* Ajusta a imagem para 100% da largura */
        height: auto; /* Mantém a proporção da imagem */
    }

    .nome {
        font-size: 2rem; /* Reduz o tamanho da fonte em telas menores */
    }
